<div id="container" class="container" ng-controller="ScheduleController">
    <div class="week row seven-cols">
        <div class="day col-xs-12 col-sm-4 col-md-2" ng-repeat="day in schedule">
            <h3>{{day.day}}</h3>
            <h5>{{day.date}}</h5>
            <div class="meal">
                <h4>Breakfast</h4>
                <ul class="items" ng-repeat="bf in day.breakfast">
                    <li><a ui-sref="app.recipe({id: bf._id})">{{bf.name}}</a></li>
                </ul>
                <a href="addBreakfastItem()"><i class="fa fa-plus-circle"></i></a>

                <form class="form-horizontal" name="addBreakfast" ng-submit="addBreakfastItem()" novalidate>
                    <select class="form-control" ng-model="breakf" ng-options="recipe.name for recipe in recipes" ng-s>
                        <option value="">Item</option>
                    </select>
                    <!--<input type="text" class="newitem" ng-model="breakfast" required/>-->
                    <input type="submit" class="btn btn-primary pull-right" value="Add" />
                </form>

            </div>
            <div class="meal">
                <h4>Lunch</h4>
                <ul class="items" ng-repeat="lu in day.lunch">
                    <li><a ui-sref="app.recipe({id: lu._id})">{{lu.name}}</a></li>
                </ul>
                <div class="row">
                    <div class="col-xs-1"><a href="" ng-click="showAddItem=true"><i class="fa fa-plus-circle"></i></a></div>

                    <div class="col-xs-11" ng-if="showAddItem">

                        <select class="form-control" ng-model="lunchSelected" ng-options="recipe.name for recipe in recipes" ng-change="onLunchSelected()">
                            <option value="">Item</option>
                        </select>

                        </form>
                    </div>
                </div>
            </div>
            <div class="meal">
                <h4>Dinner</h4>
                <ul class="items" ng-repeat="item in day.dinner">
                    <li>{{item}}</li>
                </ul>
            </div>
            <div class="meal">
                <h4>Snacks</h4>
                <ul class="items" ng-repeat="item in day.snacks">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>
        <!--<table class="table table-striped" >
                <thead>
                    <tr><th>date</th></tr>              
                </thead>
                <tbody>
                    <tr ng-repeat="day in weekCtrl.week">
                        <td>{{day.day}}</td>
                    </tr>
                </tbody>
            
            </table>-->
        <!--<div class="day col-xs-12 col-sm-4 col-md-1">
                <h2>Monday</h2>
                <h3>12-26-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <button id="addmeal">Add</button>
                        <ul class="items">
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Tuesday</h2>
                <h3>12-27-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Wednesday</h2>
                <h3>12-28-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Thursday</h2>
                <h3>12-29-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Friday</h2>
                <h3>12-30-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Saturday</h2>
                <h3>12-31-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-1">
                <h2>Sunday</h2>
                <h3>12-31-2016</h3>
                <ul id="day" class="list-unstyled">
                    <li class="meal">
                        <h3>Breakfast</h3>
                        <ul>
                            <li>Oatmeal</li>
                            <li>Coffee</li>
                            <li>Banana</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Lunch</h3>
                        <ul>
                            <li>Chicken Caesan salad</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Dinner</h3>
                        <ul>
                            <li>Grilled Salmon</li>
                        </ul>
                    </li>
                    <li class="meal">
                        <h3>Snacks</h3>
                        <ul>
                            <li>Fruit bowl</li>
                            <li>Protien shake</li>
                        </ul>
                    </li>
                </ul>
            </div>-->
    </div>
</div>
